@path-components: '../../bower_components/';

@import '@{path-components}font-awesome/less/font-awesome.less';
@import '@{path-components}bootstrap/less/bootstrap.less';

@import 'variables.less';
@import 'bootswatch.less';

@import '@{path-components}jasny-bootstrap/less/navmenu.less';
@import '@{path-components}jasny-bootstrap/less/offcanvas.less';

body {

    padding-top: 100px;
    padding-bottom: 20px;

    &.list {

        padding-top: 60px;

    }
}

#offcanvas {


    ul {

        li {

            i {

                margin-right: 8px;

            }

        }

    }

}

.navbar {

    background: #2B3E50;

}

.navbar-brand {

    margin: 20px 15px 0 0;
    padding: 0;

}

.navbar-toggle {

    float: left;
    margin: 15px 0 0 15px;

    .icon-bar {

        background-color: #EBEBEB;

    }

}

.main-quest {

    margin: 20px auto;
    text-align: center;

    &.success {

        h1, i, p {

            color: #ffff00;

        }

    }

    i {
        font-size: 200px;
    }

    .lead {

        span {

            display: block;
            font-weight: bold;

        }

    }

}

footer {

    width: 100%;
    background: @brand-primary;
    position: fixed;
    bottom: 0px;
    padding: 10px 0;

    p {

        padding: 0px 10px;
        margin: 0px;
        text-transform: uppercase;

        span {

            font-weight: bold;
            float: right;

        }

    }

}
